.darkStyle {
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
}

.textareaDarkStyle {
    background-color: #696e73 !important;
    color: white !important;
    font-size: large !important;
}